/*** Overlays (background) ***/

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(222, 235, 241);
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    color: white;
}


/*** Welcome page ***/


/* Position the content inside the welcome overlay */

#welcomePage {
    background-image: url("https://i.pinimg.com/originals/5b/e0/b7/5be0b73f1cf83e98ef017ae024fe3086.gif");
    background-position: center;
    background-size: cover;
    z-index: 3;
}

#welcomeTitleContainer {
    display: grid;
    place-items: center;
    position: relative;
    top: 5%;
    text-align: center;
    margin-top: 30px;
    align-items: center;
    background-color: rgba(44, 38, 38, 0.856);
    border-radius: 30px;
    height: 90vh;
    width: 90vw;
    margin: auto;
    transition: all .3s;
    overflow: hidden;
}


/*** Username form page ***/

#usernameFormPage {
    background-image: url("https://www.teahub.io/photos/full/288-2888693_color-block-gif.gif");
    background-position: center;
    background-size: cover;
    z-index: 2;
}

#usernameFormPage .form {
    height: 100px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    align-items: center;
}

#usernameFormPage .form .usernameInput {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 90%;
    max-width: 400px;
}

#usernameFormPage .title {
    font-size: 2rem;
    font-family: 'Satisfy', cursive;
    margin-bottom: 2rem;
}

#usernameFormPage .usernameInput {
    font-size: 1rem;
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
}

#usernameFormPage .title {
    color: rgb(0, 0, 0);
    font-weight: 100;
}


/*** Spinner page ***/

#spinnerPage {
    background-image: url("https://i.makeagif.com/media/2-01-2016/r2LSxz.gif");
    z-index: 1;
}

.roomWaitMessage {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

div.roomWaitMessage {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
}

div.welcomeTitle h3 {
    margin: 0
}


/*** Refactor UK notifications a bit ***/

.uk-notification {
    width: auto!important;
    min-width: 300px!important;
    max-width: 1700px!important;
    height: auto!important;
    display: flex!important;
    flex-direction: column;
}

.uk-notification-message {
    padding-right: 1em!important;
    width: auto!important;
    max-width: 90%!important;
    text-align: center;
    display: inline-flex;
}


/*** Chat style ***/


/* Warpers */

.container {
    /* margin: auto; */
    margin-top: 100px;
    /* height: 100vh; */
    display: grid;
    place-items: center;
    position: relative;
    top: 5%;
    text-align: center;
    /* margin-top: 30px; */
    align-items: center;
    background-color: rgba(128, 255, 255);
    border-radius: 30px;
    height: 100%;
    width: 100%;
    margin: auto;
    transition: all .3s;
    overflow: hidden;
}

.messaging {
    padding: 0 0 50px 0;
    width: 100%;
}

.inbox_msg {
    border: 1px solid rgb(177, 223, 241);
    clear: both;
    overflow: hidden;
}

.mesgs {
    padding: 30px 15px 0 25px;
}

.msg_history {
    height: 516px;
    overflow-y: scroll;
}

.type_msg {
    border-top: 1px solid #b4dcee;
    position: relative;
}


/* Message style */

.incoming_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sub_incoming_msg {
    max-width: 85%;
    width: auto;
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 5px;
    color: #646464;
    font-size: 14px;
    margin-right: 1rem;
    padding: 5px 10px 5px 12px;
    float: left;
    word-wrap: break-word;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sub_outgoing_msg {
    max-width: 85%;
    width: auto;
    background: #05728f none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    margin-right: 1rem;
    padding: 5px 10px 5px 12px;
    float: right;
    word-wrap: break-word;
}


/* Date style */

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}


/* Input form style */

.type_msg {
    min-height: 50px;
}

.input_msg_write {
    padding-right: 44px;
    padding-top: 10px;
    height: auto;
}

.write_msg {
    border: 0 none white;
    overflow-y: scroll;
    padding: 20px;
    outline: none;
    resize: none;
    width: 100%;
    max-height: 5em;
    height: auto;
    border-radius: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 7px;
    width: 33px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main_header {
    color: white;
    font-family: 'Amaranth', sans-serif;
}

.logo {
    width: 12rem;
    height: 10rem;
    justify-self: start;
    margin: 2rem auto .5rem;
}

.button {
    margin-top: 2rem;
    border: none;
    background-color: rgb(60, 110, 219);
    padding: 1rem 2rem;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    color: white;
    transition: all .3s;
    max-width: max-content;
}

.button:hover {
    transform: translateY(-3px);
    background-color: black;
}
